# Database Configuration
# For Neon PostgreSQL
DATABASE_URL=postgresql+psycopg2://username:password@hostname/database?sslmode=require

# For local PostgreSQL (development)
# DATABASE_URL=postgresql+asyncpg://postgres: PASSWORD@172.31.99.90:5432/aepttas xdr
export DB_HOST="100.112.49.39"
export DB_USER="apt_callmgmt_app"
export DB_PASSWORD="Call@intern_aepttas"
export DB_NAME="aepttas_xdr"
export DB_SCHEMA="apt"

# API Configuration
API_KEY=your-api-key-here
DEBUG=False
SECRET_KEY=your-secret-key-here

# Application Settings
ENVIRONMENT=development
PORT=8000