# ==========================================
# 1. SECURITY CONFIGURATIONS
# ==========================================
JWT_SECRET_KEY=your_jwt_secret_key_here
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# ==========================================
# 2. DATABASE CONFIGURATIONS (POSTGRESQL)
# ==========================================
DATABASE_URL=postgresql+asyncpg://username:password@localhost:5432/dbname
DB_SCHEMA=apt
